<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/main.css" />
 </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">

          <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">

              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a href="/"><img src="/techrice-logo2-10-small.png" /></a>
              </div>

              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="#farmersmile">TechRiceとは?</a></li>
                  <li><a href="#maplink">マップ</a></li>
                  <li><a href="#features">サービス</a></li>
                  <li><a href="#contact">コンタクト</a></li>
                </ul>
              </div>

            </div>
          </nav>

          <div class="inner cover">
            <h1 class="cover-heading"><img src="/logo2.png" width="600px"/></h1>
            <br />
            <p class="lead">情報を収集・分析してより効果的に農業を営もう</p>
            <p class="lead">センサーシステムTechRiceで遠隔から米の状況を管理</p>
            <br />
            <br />
            <p class="lead"><a href="/map/hackerfarm" class="btn btn-lg btn-success blue-button">もっと詳しく</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="container" id="farmersmile">
      <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
              <img class="img-responsive" src="/farmer_smile.jpg" />
            </div>
            <div class="col-lg-4 text-center vcenter">
              <h2>遠くに居ても、<br />米の様子がよくわかる</h2>
            </div>
      </div>
    </div>

    <div class="container text-center" id="features">
      <div class="row">
        <h1>操作の流れ</h1>
        <br />
        <br />
      </div>
      <div class="row">
        <div class="col-lg-4">
          <img src="/placeholder.jpg" width="250px" class="img-circle" />
          <br />
          <h1><i class="fa fa-map-marker"></i></h1>
          <h2>1. センサーを設置</h2>
          <br />
          <h4>低価格でウェブサイトから購入して、後は地面にさすだけ。</h4>
        </div>
        <div class="col-lg-4">
          <img src="/placeholder.jpg" width="250px" class="img-circle" />
          <br />
          <h1><i class="fa fa-mobile"></i></h1>
          <h2>2. アプリをダウンロード</h2>
          <br />
          <h4>App Storeからダウンロードしたらアカウント登録をする。</h4>
        </div>
        <div class="col-lg-4">
          <img src="/placeholder.jpg" width="250px" class="img-circle" />
          <br />
          <h1><i class="fa fa-rss"></i></h1>
          <h2>3. 通知が来る</h2>
          <br />
          <h4>水の量が低なったら通知が来ます。</h4>
        </div>
      </div>
    </div>

    <div class="container" id="iphonemockup">
      <div class="row">
        <div class="col-lg-4 col-lg-offset-2 text-center">
          <img src="/iphone_mock.png" class="img-responsive" style="margin-left:auto; margin-right:auto;" />
        </div>
        <div class="col-lg-4 vcenter text-center">
          <h3>天気、湿度、水の量など<br />あなたの知りたい情報を通知します</h3>
          <br />
          <h3>もう田んぼに行く<br />必要はありません</h3>
          <br />
          <br />
          <br />
          <img class="img-responsive" width="50%" src="/applestore.png" style="margin-left:auto; margin-right:auto;" />
        </div>
      </div>
    </div>

    <div class="container text-center" id="maplink">
      <p><a href="/map/hackerfarm" class="btn btn-lg btn-success blue-button">実例を見ましょう</a></p>
    </div>

    <div class="container" id="contact">
      <div class="row">
        <div class="col-md-12 text-center">
          <a href="mailto:futurelabdg@gmail.com" class="btn btn-primary btn-large"><h5 style="color:white;"><i class="fa fa-envelope"></i>&nbsp;&nbsp;&nbsp;&nbsp;今すぐ連絡</h5></a>
        </div>
        <div class="col-md-12 text-center">
          &nbsp;
        </div>
        <div class="col-md-2 col-md-offset-3 text-right">
          <a href="http://www.fljapan.com/about/" target="_blank"><h3>Future Lab</h3></a>
        </div>
        <div class="col-md-2 text-center">
          <a href="http://www.freaklabs.org/" target="_blank"><h3>Freaklabs</h3></a>
        </div>
        <div class="col-md-2 text-left">
          <h3>Hacker Farm</h3>
        </div>
      </div>
    </div>
  </body>
</html>
