<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/main.css" />
 </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">

          <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">

              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a href="/"><img src="/techrice-logo2-10-small.png" /></a>
              </div>

              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="#farmersmile">techriceとは?</a></li>
                  <li><a href="#features">仕組み</a></li>
                  <li><a href="#contact">コンタクト</a></li>
                </ul>
              </div>

            </div>
          </nav>

          <div class="inner cover">
            <h1 class="cover-heading"><img src="/logo2.png" /></h1>
            <p class="lead"><h1>スマホ・PCで</h1></p>
            <p class="lead"><h1>お米の栽培を管理してみましょう</h1></p>
            <br />
            <p class="lead">降水・湿度・水かさの数値を保存、</p>
            <p class="lead">わかりやすいグラフで確認できます。</p>
            <br/>
            <p class="lead"><a href="#contact" class="btn btn-lg btn-success blue-button">今すぐ連絡</a></p>
            <br/>
          </div>
        </div>
      </div>
    </div>

    <div class="container" id="farmersmile">
      <div class="row">
        <div class="container">
          <div class="col-lg-12 text-center">
            <img width="400px" src="/logoquestion.jpg" />
            <br />
            <br/>
            <p class="lead"> techriceは米作りを支援する「米農家の為のクラウドサービス」です。<br />降水量、湿度、水の量、その他ご希望の情報をセンサーで蓄積、<br />分かりやすいグラフでスマートフォンやパソコンから確認できます。</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container text-center" id="features">
      <div class="row">
        <h1 class="header-font-color">仕組み</h1>
        <br />
        <br />
      </div>
      <div class="row">
        <div class="col-lg-3 col-lg-offset-1">
          <img src="/sensorPark-small.jpg" class="img-square" />
          <br />
          <h3>1. センサーを設置</h3>
          <br />
          <p>ウェブ上から低価格で購入したあとはマニュアル通りに地面に設置。</p>
        </div>
        <div class="col-lg-4">
          <img src="/iphonehand.png" width="250px" class="img-square" />
          <br />
          <h3>2. アプリをダウンロード</h3>
          <br />
          <p>App Storeからアプリをダウンロード、<br />アカウントを登録して下さい。</p>
        </div>
        <div class="col-lg-3">
          <img src="/notification.png" width="250px" class="img-square" />
          <br />
          <h3>3. 通知が来る</h3>
          <br />
          <p>水の量が低くなったら通知が来ます。また降水量、湿度や、温度をグラフで確認できます。</p>
        </div>
      </div>
    </div>

    <div class="container" id="recommendedusers">
      <div class="row">
          <div class="col-lg-12 text-center">
            <h1 class="header-font-color">こんな人にお勧めします</h1>
            <br />
          </div>
          <div class="col-lg-4">
            <h3 class="text-center">1. 水田の環境をすぐ知りたい</h3>
            <br />
            <p>水田の状態を知るのに手間をかけ過ぎてていませんか？techriceであれば敷地に設置したセンサーから自動的に温度、湿度、水量などを記録します。もう離れた水田に確認しに行く必要はありません。</p>
          </div>
          <div class="col-lg-4">
            <h3 class="text-center">2. 最新の管理方法を使いたい</h3>
            <br />
            <p>水田の情報を目に見える形でわかりやすくしています。もう記憶や勘に頼る必要はなく去年のデータなどを参考にしながら、よより適切で計画的に農業を営むことができます。</p>
          </div>
          <div class="col-lg-4">
            <h3 class="text-center">3. あまりお金をかけたくない</h3>
            <br />
            <p>アプリは無料でダウンロード。低価格でサービスを提供致します。まずは Future Lab までご連絡ください。キットとマニュアルをお送りします。</p>
          </div>
      </div>
    </div>

    <div class="container text-center" id="uservoice">
      <div class="row">
        <div class="container">
          <div class="col-lg-12 text-center">
            <h1 class="header-font-color">お客様からの声</h1>
            <br />
            <p class="lead">techriceを使い始めてから作業がスムーズになりました。<br />水が足りないときだけ通知が来るから、毎日チェックしなくて<br />良くなったのです。今はtechriceなしではやっていけません。</p>
            <br />
          </div>
          <div class="col-lg-10 col-lg-offset-1 text-center">
            <img width="710px" src="/farmer02.png" />
          </div>
        </div>
      </div>
    </div>

    <div class="container" id="contact">
      <div class="row text-center">
        <h1 class="header-font-color">コンタクト</h1>
      </div>
      <br />
      <br />
      <div class="row">
        <img src="/groupphoto-light.jpg" class="img-responsive center-block" />
      </div>
      <br />
      <div class="row text-center">
        <p><a href="mailto:futurelabdg@gmail.com" class="btn btn-lg btn-success blue-button">今すぐ連絡</a></p>
        <br />
        <p class="text-center">futurelabdg@gmail.com<br /><br />Future Lab ・フューチャーラボ<br />〒150-0022 東京都渋谷区恵比寿南3-5-7<br />代官山DGビル（デジタルゲートビル）</p>
      </div>

      <br />
      <div class="row">
        <div class="col-md-12 text-center">
          本サービスは下記の団体のコラボレーションで提供されます
        </div>
        <br />
        <br />
        <div class="col-md-2 col-md-offset-3 text-center">
          <a href="http://www.fljapan.com/about/" target="_blank"><img src="/futureLab.jpg" /></a>
        </div>
        <div class="col-md-2 text-center" style="padding-top:30px;">
          <a href="http://www.freaklabs.org/" target="_blank"><img src="/freakLabs.png" /></a>
        </div>
        <div class="col-md-2 text-center">
          <h3>Hacker Farm</h3>
        </div>
      </div>
    </div>
    <div class="container" id="footer">
      <div class="row text-center">
        <a href="http://www.garage.co.jp/" target="_blank"><img src="/footer-logo.png" /></a>
        <br/>
        <br/>
        <h6>Copyright &copy; 2015 Digital Garage, Inc. All rights reserved.</h6>
      </div>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-60945177-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
