<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/main.css" />
 </head>
  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="inner cover">
            <h1 class="cover-heading"><img src="/logo2.png" width="600px"/></h1>
            <br />
            <p class="lead">Bringing your field to the 21st century</p>
            <p class="lead">あなたの田畑を、21世紀に連れて行きましょう</p>
            <br />
            <br />
            <p class="lead"><a href="/map/hackerfarm" class="btn btn-lg btn-success">mapを見ましょう</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="container text-center" id="features">
      <h1>機能</h1>
      <br />
      <div class="row">
        <div class="col-lg-4">

          <h1><i class="fa fa-line-chart"></i></h1>
          <h2 > 生産量を増加させよう</h2>
          <br />
          <p id="fontsize"> Increase your crop yield.</p>
        </div>
        <div class="col-lg-4">
          <h1><i class="fa fa-map-marker"></i></h1>
          <h2>モニタリング</h2>
          <br />
          <p id="fontsize" >Monitors your field seamlessly.</p>
        </div>
        <div class="col-lg-4">
          <h1><i class="fa fa-gear"></i></h1>
          <h2>自動的</h2>
          <br />
          <p id="fontsize" >Automatic, simple, and easy.</p>
        </div>
      </div>
    </div>

    <div class="container text-center" id="contact">
      <h1>コンタクト</h1>
      <br />
      <div class="row">
        <br />
        <p><a href="mailto:futurelabdg@gmail.com" class="btn btn-primary btn-large"><i class="fa fa-envelope"></i>&nbsp;&nbsp;&nbsp;&nbsp;ご遠慮なく連絡して下さい</a></p>
        <br />
        <a href="http://www.fljapan.com/about/" target="_blank"><h3>Future Lab &nbsp;&nbsp;|&nbsp;&nbsp; フューチャーラボ</h3></a>
        <p>〒150-0022 東京都渋谷区恵比寿南3-5-7</p>
        <p>代官山DGビル(デジタルゲートビル)</p>
      </div>
    </div>
  </body>
</html>
