<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, intial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
 </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">

          <%= partial(:partial_mainpage_topbar_jp) %>

          <div class="inner cover">
            <h1 class="cover-heading"><img class="img-responsive center-block" src="/images/logo2.png" /></h1>
            <br/>
            <p class="lead"><h1>スマホ・PCで</h1></p>
            <p class="lead"><h1>お米の栽培を管理してみましょう</h1></p>
            <br />
            <p class="lead">降水・湿度・水かさの数値を保存、</p>
            <p class="lead">わかりやすいグラフで確認できます。</p>
            <br/>
            <p class="lead"><a href="#contact" class="btn btn-lg btn-success blue-button">今すぐ連絡</a></p>
            <br/>
          </div>
        </div>
      </div>
    </div>

    <div class="container" id="whatis">
      <div class="row">
        <div class="col-lg-12 col-sm-12 text-center">
          <img width="400px" src="/images/logoquestion.jpg" class="img-responsive center-block" />
          <br/>
          <br/>
        </div>
        <div class="col-lg-12 col-sm-12 text-center">
          <p><h2><strong>techrice</strong>は米作りを支援する「米農家の為のクラウドサービス」です。<br />降水量、湿度、水の量、その他ご希望の情報をセンサーで蓄積、<br />分かりやすいグラフでスマートフォンやパソコンから確認できます。</h2></p>
        </div>
      </div>
    </div>

    <div class="container text-center" id="features">
      <div class="row">
        <div class="col-lg-12 col-sm-12 text-center">
          <h1 class="header-font-color">仕組み</h1>
          <br />
          <br />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-lg-offset-1 col-sm-12 feature-detail">
          <img src="/images/sensorPark-small.jpg" class="img-square" />
          <br />
          <h3>1. センサーを設置</h3>
          <br />
          <p><h4>ウェブ上から低価格で購入したあとはマニュアル通りに地面に設置。</h4></p>
        </div>
        <div class="col-lg-4 col-sm-12 feature-detail">
          <img src="/images/iphonehand.png" width="250px" class="img-square" />
          <br />
          <h3>2. アプリをダウンロード</h3>
          <br />
          <p><h4>App Storeからアプリをダウンロード、<br />アカウントを登録して下さい。</h4></p>
        </div>
        <div class="col-lg-3 col-sm-12 feature-detail">
          <img src="/images/notification.png" width="250px" class="img-square" />
          <br />
          <h3>3. 通知が来る</h3>
          <br />
          <p><h4>水の量が低くなったら通知が来ます。また降水量、湿度や、温度をグラフで確認できます。</h4></p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-sm-12 text-center">
          <a href="https://itunes.apple.com/us/app/techrice/id946383519?mt=8&uo=6&at=&ct=" target="itunes_store" style="display:inline-block;overflow:hidden;background:url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.png) no-repeat;width:165px;height:40px;@media only screen{background-image:url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg);}"></a>
        </div>
      </div>
    </div>

    <div class="container" id="recommendedusers">
      <div class="row">
          <div class="col-lg-12 text-center">
            <h1 class="header-font-color">こんな人にお勧めします</h1>
            <br />
          </div>
          <div class="col-lg-4 recommendation-detail">
            <h1 class="text-center"><i class="fa fa-clock-o"></i></h1>
            <h3 class="text-center">水田の環境をすぐ知りたい</h3>
            <br />
            <p>水田の状態を知るのに手間をかけ過ぎてていませんか？techriceであれば敷地に設置したセンサーから自動的に温度、湿度、水量などを記録します。もう離れた水田に確認しに行く必要はありません。</p>
          </div>
          <div class="col-lg-4 recommendation-detail">
            <h1 class="text-center"><i class="fa fa-line-chart"></i></h1>
            <h3 class="text-center">最新の管理方法を使いたい</h3>
            <br />
            <p>水田の情報を目に見える形でわかりやすくしています。もう記憶や勘に頼る必要はなく去年のデータなどを参考にしながら、よより適切で計画的に農業を営むことができます。</p>
          </div>
          <div class="col-lg-4 recommendation-detail">
            <h1 class="text-center"><i class="fa fa-jpy"></i></h1>
            <h3 class="text-center">あまりお金をかけたくない</h3>
            <br />
            <p>アプリは無料でダウンロード。低価格でサービスを提供致します。まずは Future Lab までご連絡ください。キットとマニュアルをお送りします。</p>
          </div>
      </div>
    </div>

    <div class="container text-center" id="uservoice">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="header-font-color">協力者の声</h1>
          <br />
        </div>
        <div class="col-lg-2 col-lg-offset-2 text-center uservoice-detail">
          <h4>"techriceを使い始めてから農作にかける時間が格段に減りました。"</h4>
          <br />
          <img src="/images/user1.png" class="img-responsive center-block" />
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center uservoice-detail">
          <h4>"去年の降水量などのデータを参考して農作が出来るので収穫量が上がりました。"</h4>
          <br />
          <img src="/images/user2.png" class="img-responsive center-block" />
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center uservoice-detail">
          <h4>"毎日水位を見に行かなくて済むから孫を遊ぶ時間が増えました。"</h4>
          <br />
          <img src="/images/user3.png" class="img-responsive center-block" />
        </div>
      </div>
    </div>

    <div class="container" id="contact">
      <div class="row text-center">
        <h1 class="header-font-color">コンタクト</h1>
      </div>
      <br />
      <br />
      <div class="row">
        <img src="/images/groupphoto-light.jpg" class="img-responsive center-block" />
      </div>
      <br />
      <div class="row text-center">
        <p><a href="mailto:futurelabdg@gmail.com" class="btn btn-lg btn-success blue-button">今すぐ連絡</a></p>
        <br />
        <p class="text-center">futurelabdg@gmail.com<br /><br />Future Lab ・フューチャーラボ<br />〒150-0022 東京都渋谷区恵比寿南3-5-7<br />代官山DGビル（デジタルゲートビル）</p>
      </div>

      <br />
      <div class="row">
        <div class="col-md-12 text-center">
          本サービスは下記の団体のコラボレーションで提供されます
        </div>
        <br />
        <br />
        <div id="fljapan-logo" class="col-md-2 col-md-offset-3 text-center">
          <a href="http://www.fljapan.com/about/" target="_blank"><img src="/images/futureLab.jpg" /></a>
        </div>
        <div id="hackerfarm-logo" class="col-md-2 text-center">
          <img src="/images/HackerFarmLogo.png" />
        </div>
        <div id="freaklabs-logo" class="col-md-2 text-center">
          <a href="http://www.freaklabs.org/" target="_blank"><img src="/images/freakLabs.png" /></a>
        </div>
      </div>
    </div>
    <%= partial(:partial_footer) %>
  </body>
</html>
