<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, intial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
 </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">

          <%= partial(:partial_topbar_en) %>

          <div class="inner cover">
            <h1 class="cover-heading"><img src="/images/logo2.png" /></h1>
            <br/>
            <p class="lead"><h1>Connecting rice fields to the Internet,</h1></p>
            <p class="lead"><h1>managing your crop from your pocket.</h1></p>
            <br/>
            <br/>
            <p class="lead"><a href="#contact" class="btn btn-lg btn-success blue-button">Contact us</a></p>
            <br/>
          </div>
        </div>
      </div>
    </div>

    <div id="whatis">
      <div class="row">
        <div class="col-lg-12 col-sm-12 text-center">
          <img width="400px" src="/images/logoquestion.jpg" class="img-responsive center-block" />
          <br/>
          <br/>
        </div>
        <div class="col-lg-12 col-sm-12 text-center">
          <p class="lead"><strong>techrice</strong> is a cloud-based service that supports rice farmers.<br />Water level, temperature, rainfall, and other customizable sensors for all your farming needs.<br />Every info made easily understandable on PC and smartphone.</p>
        </div>
      </div>
    </div>

    <div class="container text-center" id="features">
      <div class="row">
        <div class="col-lg-12 col-sm-12 text-center">
          <h1 class="header-font-color">How it works</h1>
          <br />
          <br />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-lg-offset-1 col-sm-12">
          <img src="/images/sensorPark-small.jpg" class="img-square" />
          <br />
          <h3>1. Set up the sensors</h3>
          <br />
          <p>Contact us and receive a package, ready to be placed on your field. Set it up according to the manual & you're all set.</p>
        </div>
        <div class="col-lg-4 col-sm-12">
          <img src="/images/iphonehand.png" width="250px" class="img-square" />
          <br />
          <h3>2. Download the app</h3>
          <br />
          <p>Go to the App Store and download our app.<br />Register an account & your setup is complete.</p>
        </div>
        <div class="col-lg-3 col-sm-12">
          <img src="/images/notification.png" width="250px" class="img-square" />
          <br />
          <h3>3. Receive notifications</h3>
          <br />
          <p>Receive notifications when your water level is too low. Get up-to-date rainfall, temperature, humidity, and much more.</p>
        </div>
      </div>
    </div>

    <div class="container" id="recommendedusers">
      <div class="row">
          <div class="col-lg-12 text-center">
            <h1 class="header-font-color">How techrice can help you</h1>
            <br />
          </div>
          <div class="col-lg-4">
            <h3 class="text-center">1. Optimizes your time</h3>
            <br />
            <p>Do you spend too much effort checking the conditions of your field? With <strong>techrice</strong>, you have sensors on your field doing your work for you, automatically sending info on water level, temperature, and humidity, among other things.</p>
          </div>
          <div class="col-lg-4">
            <h3 class="text-center">2. Greater accuracy</h3>
            <br />
            <p>Information such as your current water level is easily understandable and accurate. No more guesswork and relying on intuition. Optimize your schedule planning with previous year's comparison data.</p>
          </div>
          <div class="col-lg-4">
            <h3 class="text-center">3. Saves you money</h3>
            <br />
            <p>Our app is completely free to download, and the complete service is available for a low, reasonable price. Contact us and we'll work out a plan that works for you.</p>
          </div>
      </div>
    </div>

    <div class="container text-center" id="uservoice">
      <div class="row">
        <div class="container">
          <div class="col-lg-12 text-center">
            <h1 class="header-font-color">お客様からの声</h1>
            <br />
            <p class="lead">techriceを使い始めてから作業がスムーズになりました。<br />水が足りないときだけ通知が来るから、毎日チェックしなくて<br />良くなったのです。今はtechriceなしではやっていけません。</p>
            <br />
          </div>
          <div class="col-lg-10 col-lg-offset-1 text-center">
            <img width="710px" src="/images/farmer02.png" class="img-responsive center-block" />
          </div>
        </div>
      </div>
    </div>

    <div class="container" id="contact">
      <div class="row text-center">
        <h1 class="header-font-color">Contact</h1>
      </div>
      <br />
      <br />
      <div class="row">
        <img src="/images/groupphoto-light.jpg" class="img-responsive center-block" />
      </div>
      <br />
      <div class="row text-center">
        <p><a href="mailto:futurelabdg@gmail.com" class="btn btn-lg btn-success blue-button">Send us a message</a></p>
        <br />
        <p class="text-center">futurelabdg@gmail.com<br /><br />Future Lab ・フューチャーラボ<br />〒150-0022 東京都渋谷区恵比寿南3-5-7<br />代官山DGビル（デジタルゲートビル）</p>
      </div>

      <br />
      <div class="row">
        <div class="col-md-12 text-center">
          This service is brought to you by the collaborative efforts of the following teams:
        </div>
        <br />
        <br />
        <div id="fljapan-logo" class="col-md-2 col-md-offset-3 text-center">
          <a href="http://www.fljapan.com/about/" target="_blank"><img src="/images/futureLab.jpg" /></a>
        </div>
        <div id="freaklabs-logo" class="col-md-2 text-center">
          <a href="http://www.freaklabs.org/" target="_blank"><img src="/images/freakLabs.png" /></a>
        </div>
        <div id="hackerfarm-logo" class="col-md-2 text-center">
          <img src="/images/HackerFarmLogo.png" />
        </div>
      </div>
    </div>
    <%= partial(:partial_footer) %>
  </body>
</html>
