<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="/map.css" />
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzC24a6Dcov2UFSFhJyr0PYxqQV0LUOdY"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      window.data = <%= data %>;
    </script>
    <script type="text/javascript" src="/map.js"></script>
  </head>
  <body>
    <div id="detail">
      <a href="/"><img src="/techrice-logo.png" height="100%" /></a>
    </div>
    <div id="menu">
      <nav>
        <ul>
          <li><a href="#">Sites</a>
            <ul>
              <li><a href="/map/hackerfarm">HackerFarm</a></li>
              <li><a href="/map/site2">Site 2</a></li>
              <li><a href="/map/site3">Site 3</a></li>
            </ul>
          </li>
          <li><a href="/list/<%= site %>">List</a></li>
          <li><a href="/#contact">About</a></li>
        </ul>
      </nav>
    </div>
    <div id="map-canvas">
    </div>
  </body>
</html>
