<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="/map.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzC24a6Dcov2UFSFhJyr0PYxqQV0LUOdY"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      window.data = <%= data %>;
      window.nodesite = "<%= site %>";
    </script>
    <script type="text/javascript" src="/map.js"></script>
  </head>
  <body>
    <div id="detail">
      <a href="/"><img src="/techrice-logo-20.png" /></a>
    </div>
    <div id="menu">
      <nav>
        <ul>
          <li><a href="#"><i class="fa fa-rss"></i>&nbsp; サイト</a>
            <ul>
              <li><a href="/map/hackerfarm">hackerfarm</a></li>
              <li><a href="/map/Kamakura">Kamakura</a></li>
              <li><a href="/map/DG">DG</a></li>
              <li><a href="/map/tokyo">Tokyo</a></li>
            </ul>
          </li>
          <li><a href="/list/<%= site %>"><i class="fa fa-file-text-o"></i>&nbsp; リスト</a></li>
        </ul>
      </nav>
    </div>
    <div id="map-canvas">
    </div>
  </body>
</html>
