<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/dashboard.css" />

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzC24a6Dcov2UFSFhJyr0PYxqQV0LUOdY"></script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(35.245, 140.124),
          zoom: 8
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
      console.log("TEST");
    </script>
    <link rel="stylesheet" type="text/css" href="/map.css" />
  </head>
  <body>
    <%= partial(:topbar_template) %>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="list-group">
            <a class="list-group-item" href="/dashboard">Home</a>
            <a class="list-group-item active" href="#">Nodes</a>
            <a class="list-group-item" href="/dashboard/settings">Settings</a>
          </div>
        </div>
        <div class="col-md-9">
          <h1>Node detail | <%= id %></h1>
          <div class="map-canvas"></div>
        </div>
      </div>
    </div>
  </body>
</html>
