<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/dashboard.css" />
    <link rel="stylesheet" type="text/css" href="/node.css" />
  </head>
  <body>
    <%= partial(:topbar_template) %>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">Node detail | <%= id %></h1>
          <hr />
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">温度データ</h3>
            </div>
            <div class="panel-body">
              <svg class="temp"></svg>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">湿度データ</h3>
            </div>
            <div class="panel-body">
              <svg class="moisture"></svg>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <svg class="chart"></svg>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      window.data = <%= data.to_json %>;
    </script>
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/node.js"></script>
  </body>
</html>
