<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a href="/en/"><img src="/images/techrice-logo2-10-small.png" /></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/en/map"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Map</a></li>
        <li><a href="mailto:futurelabdg@gmail.com"><i class="fa fa-envelope"></i>&nbsp;&nbsp;Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
