<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, intial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/sorry.css" />
 </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">

          <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">

              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a href="/"><img src="/images/techrice-logo2-10-small.png" /></a>
              </div>

              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="/#whatis">techriceとは?</a></li>
                  <li><a href="/#features">仕組み</a></li>
                  <li><a href="/#contact">コンタクト</a></li>
                </ul>
              </div>

            </div>
          </nav>

          <div class="inner cover">
            <h1 class="cover-heading"><img src="/images/logo2.png" /></h1>
            <br/>
            <p class="lead"><h1>Sorry!</h1></p>
            <p class="lead"><h1>このページは存在していません</h1></p>
            <br/>
            <p class="lead"><a href="/" class="btn btn-lg btn-default grey-button">メインページに戻る</a></p>
            <br/>
          </div>
        </div>
      </div>
    </div>

    <div class="container" id="footer">
      <div class="row text-center">
        <a href="http://www.garage.co.jp/" target="_blank"><img src="/images/footer-logo.png" /></a>
        <br/>
        <br/>
        <h6>Copyright &copy; 2015 Digital Garage, Inc. All rights reserved.</h6>
      </div>
    </div>
  </body>
</html>
