<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/testimonial.css" />
 </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">

          <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">

              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a href="/"><img src="/images/techrice-logo2-10-small.png" /></a>

              </div>

              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="#farmersmile">TechRiceとは?</a></li>
                  <li><a href="#maplink">マップ</a></li>
                  <li><a href="#features">サービス</a></li>
                  <li><a href="#contact">コンタクト</a></li>
                </ul>
              </div>

            </div>
          </nav>

          <div class="inner cover">
            <br />
            <br />
            <br />


          </div>
        </div>
      </div>
    </div>
 
    <div class="container text-center" id="testimonials">
      <div class="row">
        <h1>農家の皆様の声</h1>
        <br />
        <br />
      </div>
      <div class="row">
      	<p>農家の皆様の声</p>
      	<div class="col-lg-5 col-lg-offset-2" >
      		<div class="container textQuote">
      			asdfasdfasdfadsfasdfasdfaasdfasdfasdfasdfasdfasdfasdfasd
      		</div>
         </div>
            <div class="col-lg-5">
            	<img class="img-responsive" src="/images/testimonialQuote.png" />
            </div>

        <div class="col-lg-3" col-lg-offset-1 >
          <br />
          <img src="/images/farmer_smile.jpg" width="150px" height="150px" class="img-circle" />
        </div>
        <div class="col-lg-6">
          <br />
          <img src="/images/placeholder.jpg" width="150px" class="img-circle" />
        </div>
              <div class="row">


      	<div class="col-lg-5" col-lg-offset-2 >
              <img class="img-responsive" src="/images/testimonialQuote.png" />
            </div>
            <div class="col-lg-5">
            	<img class="img-responsive" src="/images/testimonialQuote.png" />
            </div>

        <div class="col-lg-3" col-lg-offset-1 >
          <br />
          <img src="/images/farmer_smile.jpg" width="150px" height="150px" class="img-circle" />
        </div>
        <div class="col-lg-6">
          <br />
          <img src="/images/placeholder.jpg" width="150px" class="img-circle" />
        </div>

      </div>
    </div>

    <div class="container text-center" id="contact">
      <h1>コンタクト</h1>
      <br />
      <div class="row">
        <br />
        <p><a href="mailto:futurelabdg@gmail.com" class="btn btn-primary btn-large"><i class="fa fa-envelope"></i>&nbsp;&nbsp;&nbsp;&nbsp;今すぐコンタクト</a></p>
        <br />
        <a href="http://www.fljapan.com/about/" target="_blank"><h3>Future Lab &nbsp;&nbsp;|&nbsp;&nbsp; フューチャーラボ</h3></a>
      </div>
    </div>
  </body>
</html>
