#top-banner {
}

table#node-list {
  color: #000;
}

table#node-list > tbody > tr > td > a {
  color: #000;
}

#temp {
  position: absolute;
  left: 60px;
  z-index: 1;
}

#wind {
  position: absolute;
  left: 60px;
  top: 60px;
  z-index: 1;
}

#height {
  position: absolute;
  left: 50px;
  bottom: 120px;
  z-index: 1;
}

#height_pic {
  position: absolute;
  left: 30px;
  bottom: 15px;
  z-index: 1;
}

#rice_pic {
  height: 570px;
  position: absolute;
  left: 25%;
  top: 0px;
  z-index: 0;
}
