/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
}
body {
  color: #000;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);

  background-image: url('/images/ricefield0-reduced.jpg');
  background-color: rgb(26, 113, 49);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}
.cover-heading {
  font-size: 400%;
}

.lead {
  margin-bottom: 0px;
}

/* Text containers */
.header-font-color {
  color: #0C3D51;
  font-weight: bold;

}

#whatis {
  width:100%;
  padding-top: 80px;
  padding-bottom: 80px;
  color: #4B4B4B;
}

#howitworks {
  color: white;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #50A946;
}

#features {
  width:100%;
  background-color: rgb(250, 250, 250);
  padding-top: 80px;
  padding-bottom: 80px;
  color: #4B4B4B;
}

#recommendedusers {
  width: 90%;
  padding-top: 80px;
  padding-bottom: 80px;
  color: #4B4B4B;
}

#uservoice {
  width:100%;
  background-color: rgb(250, 250, 250);
  padding-top: 80px;
  padding-bottom: 80px;
}

#appscreen1 {
  width:100%;
  padding-top: 100px;
  padding-bottom: 100px;
  color: white;
  background-color: #50A946;
}

#appscreen2 {
  width:100%;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #0C4C29;
}

#iphonemockup {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  color: white;
  background-color: #50A946;
}

#maplink {
  background-image: url("/images/googlemap.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #50A946;
  color: white;
}

#fontsize {
  font-size: 20px;
 }


#contact {
  padding-top: 80px;
  padding-bottom: 80px;
  width: 100%;
  background-color: #FFFFFF;
  color: #2C3E50;
}

#contact > div > a {
  color: #000;
}

#contact > div > div > a {
  color: #2C3E50;
}

#footer {
  background-color: black;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  color: #DEDEDE;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead {
  background-color:rgba(51, 51, 51, 0.7);
}

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

/* Vertical Centering */
.vcenter {
  margin-top: 7%;
}

/* NavBar stuff */
.navbar {
  background-color: #1A4F61;
}

.blue-button {
  background-color: #2DA7E0;
  border-color: #2DA7E0;
}

/* Collaborators */
#fljapan-logo {
  padding-top:50px;
}

#freaklabs-logo {
  padding-top:80px;
  padding-bottom: 50px;
}

#hackerfarm-logo {
  padding-top:10px;
}
