html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map-canvas {
  clear: both;
  height: 100%;
  width: 100%;
  z-index: 0;
}

#detail {
  /*position: absolute;*/
  top: 0;
  left: 10%;
  width: 15%;
  float:left;
}

#menu {
  height: 15%;
  width: 85%;
  text-align: center;
  float:right;
}

nav * {
  z-index: 1;
}

nav ul {
  background: #FFFFFF;
  border-style: solid;
  border-color: #0C4C29;
  /*background: linear-gradient(top, #FFFFFF 0%, #bbbbbb 100%);
  background: -moz-linear-gradient(top, #FFFFFF 0%, #bbbbbb 100%);
  background: -webkit-linear-gradient(top, #FFFFFF 0%, #bbbbbb 100%);*/
  /*box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15);*/
  padding: 0 0px;
  /*border-radius: 10px;*/
  list-style: none;
  position: relative;
  display: inline-table;
}

nav ul li {
  float: left;
}

nav ul li:hover {
  background: #0C4C29;
}

nav ul li:hover a {
  color: #fff;
}

nav ul li a {
  display: block;
  padding: 25px 40px;
  color: #0C4C29;
  text-decoration: none;
}

nav ul ul {
  background: #0C4C29;
  border-radius: 0px;
  padding: 0;
  position: absolute;
  top: 100%;
}

nav ul ul li {
  float: none;
  border-top: 1px solid #0A4022;
  border-bottom: 1px solid #0A4022;
  position: relative;
}

nav ul ul li a {
  padding: 15px 40px;
  color: #fff;
}

nav ul ul li a:hover {
  background: #147F45;
}

nav ul:after {
  content: ""; clear: both; display: block;
}

nav ul ul {
  display: none;
}

nav ul li:hover > ul {
  display: block;
}

.content {
  width: 206px;
  margin-left: auto;
  margin-right: auto;
}

.ricepic {
  float: left;
  width: 106px;
}

.chart {
  float: left;
  width: 100px;
  font-weight: bold;
}

/*
.ricepic {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
*/
