html, body, .row, .col-md-9 { height: 100% }

.map-canvas,
.map-canvas *,
.map-canvas *:before,
.map-canvas *:after {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
        box-sizing: content-box;
}

/*
.map-canvas img {
  max-width: 100%;
  display: inline;
}

img, object, embed { max-width: 100%; }
*/
