html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map-canvas {
  clear: both;
  height: 700px;
  width: 100%;
  z-index: 0;
}

#detail {
  /*position: absolute;*/
  top: 0;
  left: 10%;
  width: 15%;
  float:left;
}

#menu {
  height: 15%;
  width: 85%;
  text-align: center;
  float:right;
}

.content {
  width: 206px;
  margin-left: auto;
  margin-right: auto;
}

.ricepic {
  float: left;
  width: 106px;
}

.chart {
  float: left;
  width: 100px;
  font-weight: bold;
}

.navbar {
  background-color: #2E833E;
  border-radius: 0px;
}
