.temp rect {
  fill: steelblue;
}

.temp text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}
